{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stars.css') }}">

{% endblock %}

{% block content %}
<form method="get" action="/profile">
    <button type="submit" class="btn btn-warning btn-lg btn-block">Back to Search</button>
</form>

<div class="container" style="margin: 50px auto 50px auto;">
        <div class="row">
            <div class="col-auto">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="http://covers.openlibrary.org/b/ISBN/{{ book_info[1] }}-M.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title"> Title </h6>
                        <p class="card-text">{{ book_info[2] }}</p>
                        <h6 class="card-title"> Author</h6>
                        <p class="card-text">{{ book_info[3] }}</p>
                        <h6 class="card-title"> Year </h6>
                        <p class="card-text">{{ book_info[4] }}</p>
                        <h6 class="card-title"> ISBN </h6>
                        <p class="card-text">{{ book_info[1] }}</p>
                        <h6 class="card-title"> Goodreads Rating </h6>
                        <p class="card-text">{{ rating }} / 5</p>
                        <h6 class="card-title">  </h6>
                        <p class="card-text">{{ count }} ratings</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div style="justify-content: center; font-size: large; font-weight: bold;" class="card-header">Reviews</div>
                    <div class="card-body">
                        <form action="{{ url_for('books_info', isbn=book_info[1]) }}" method="post">
                            <fieldset>
                                <input type="radio" id="st1" name="rating" value="5" />
                                <label for="st1"></label>
                                <input type="radio" id="st2" name="rating" value="4" />
                                <label for="st2"></label>
                                <input type="radio" id="st3" name="rating" value="3" />
                                <label for="st3"></label>
                                <input type="radio" id="st4" name="rating" value="2" />
                                <label for="st4"></label>
                                <input type="radio" id="st5" name="rating" value="1" />
                                <label for="st5"></label>
                            </fieldset>
                            <textarea class="form-control" name="comment" rows="3" placeholder="Comment here ..." required maxlength="1500"></textarea>
                            <br>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                        <table class="table table-striped">
                            <thead>

                                <tr>
                                    <th> User </th>
                                    <th> Comment </th>
                                    <th> Rating </th>
                                    <th> Date </th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for review in reviews %}
                                <tr>
                                    <td> {{ review.name }} </td>
                                    <td> {{ review.comment }} </td>
                                    <td> {{ review.rating }} </td>
                                    <td> {{ review.date }} </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
    </script>
{% endblock %}
